.parallax { 
  background-image: url("../img/banner_desktop.png"); 
  min-height: 600px;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}